.red {
  background-color: red;
}
.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}


.scenario-opponents-button {
  height: 60px;  width: 88px;;
}

.blocked-button {
  background-color: gray;
}

.horizontalBlocks {
  display: inline-block;
}

.pane-view{
  position: absolute;
  top: 30px; left: 200px;
  width: 400px;  height: 500px;
  background-color: darkcyan;
  z-index: 10;
}

.center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}

/* html { 
  background: url(dragon.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* //add webpack */

.active {
  border: 2px solid red;
}

.not-active {
  border: 2px solid transparent;
}

.bordered {
  border: 2px solid black;
}

.button:hover {
  cursor: pointer;
}

.blocked {
  opacity: 0.5;
}

.highlightedScenario{
  font-weight: bold;
}

#mainMenu{
  background: url(dragon.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}

#game{
  min-height: 100vh;
  min-width: 100vw;
  border-width: 2vh;
  border-style: groove;
}
#mainView{
  background-color: green;
  /* width: 70%; */
}

#sideView{
  background-color: saddlebrown;
  border-left-width: 2vh;
  border-left-style: groove;
  min-height: 96vh;
}

#row{
  min-height: 96vh;
}

#side{
  min-height: 96vh;
}

#miniMap{
  border-bottom-width: 2vh;
  border-bottom-style: groove;
  background-color: deepskyblue;
  min-height: 32vh;
}

#holdings{
  background-color: salmon;
  min-height: 32vh;
}

#activities{
  background-color: silver;
  border-top-width: 2vh;
  border-top-style: groove;
  min-height: 32vh;
}